name: Web Tests Matrix (Firefox Only for Now)

on:
  push:
  pull_request:

jobs:
  web-tests:
    runs-on: ubuntu-latest

    env:
      BROWSER: firefox
      HEADLESS: true   # force headless always in CI

    steps:
      - name: Upload Allure Results (firefox)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-firefox
          path: reports/allure-results/firefox

      - name: Upload driver logs (for debugging)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: driver-logs-firefox
          path: |
            chromedriver.log
            geckodriver.log
